@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700&display=swap");

html,
body {
  background-color: black;
  width: 100%;
  overflow-y: visible;
  overflow-x: hidden;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("img/bg-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.1rem;
  text-align: center;
}

.navigation a {
  text-decoration: none;
  color: white !important;
}

.navigation a:hover {
  color: #fbb341 !important;
}

.nav-item,
.navbar-dark,
.nav-link {
  color: white !important;
}

.nav-item:hover,
#logo:hover {
  color: #fbb341 !important;
}

.nav-style {
  background-color: rgba(0, 0, 0, 0.75);
}

.header-info {
  /* margin-top: 10%; */
  width: 100%;
  height: 90%;
  color: white;
  text-align: center;
  /* border: yellow 1px solid; */
}

.header-title-info {
  width: 100%;
  font-family: "Bebas Neue";
  padding-top: 10%;
  font-size: 5rem;
  font-weight: bold;
  font-style: normal;
  line-height: 5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 3.5625rem;
}

.mini-info {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  flex: 1;
  margin-bottom: 3.5625rem;
}

.header-info-button:hover {
  background-color: #e0a800;
}

.header-scroll-link-wrapper {
  text-decoration: none;
  color: white;
}

.story-scroll-down {
  margin-bottom: 3.5rem;
}

.story-scroll-down a {
  text-decoration: none;
  color: white;
}

.story-scroll-down a:hover {
  color: wheat;
  text-decoration: none;
}

.header-scroll-toggle {
  margin-bottom: 0;
  letter-spacing: 2px;
}

.story-scroll-down {
  animation: scrollDown 1.2s infinite;
}

@keyframes scrollDown {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
  }

  25% {
    transform: scale(0.8);
  }

  10% {
    transform: scale(1);
  }

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(10px);
  }
}

.spacing {
  background-color: black;
}

/* gallery section  */
.gallery {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle at right, #000, transparent),
    radial-gradient(circle at left, #000, transparent), url("img/bg-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-content {
  padding-top: 10%;
  flex-direction: row;
  width: 90vw !important;
}

.gl-left-side {
  color: white;
  max-width: 30vw !important;
  /* border: yellow 1px solid; */
}

.gl-right-side {
  margin-top: 5rem;
}

.gallery-mini-info {
  font-size: 1.5rem;
}

.gl-h1-info {
  font-size: 3.5rem;
  line-height: 1.5rem;
}

.carousel-indicators li {
  height: 1rem !important;
  width: 1rem !important;
  border-radius: 50% !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.carousel-indicators button {
  width: 0.5rem !important;
  height: 0.5rem !important;
}

.icon-costum-left {
  margin-left: -4rem;
}

.icon-costum-right {
  margin-right: -4rem;
}

/* feature section  */
.features {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle at right, #000, transparent),
    radial-gradient(circle at center, rgba(255, 255, 255, 0), transparent),
    radial-gradient(circle at left, rgba(0, 0, 0, 0.527), transparent),
    radial-gradient(ellipse at bottom, rgb(8, 8, 8), transparent),
    url("img/bg-3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.features-contents {
  color: white;
  padding-top: 14rem;
}

.features-info-title {
  font-size: 1.5rem;
}

.features-info-content {
  line-height: 1.5rem;
}

.timeline {
  margin-top: 8%;
}

.timeline-dot {
  margin-right: -1.5rem;
}

.tl-info-title {
  font-size: 2rem;
  color: #fbb341;
  letter-spacing: 0.2rem;
}

.tl-info-content {
  color: white;
  font-size: 1.5rem;
}

/* feature section  */

.sysreq {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      30% 75% at 65% 40%,
      rgba(0, 0, 52, 0) 0%,
      rgba(10, 10, 10, 0.5) 50%,
      #000 95%
    ),
    url("img/bg-4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  text-align: center;
}

.sysreq h1 {
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5vh;
}

.req-info-top {
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-bottom: -1.5rem;
}

.rq-table-title {
  font-size: 3rem;
  color: white;
  line-height: 3rem;
}

.table-content-sys {
  max-width: 30vw !important;
}

.requirements-info {
  font-family: Arial, Helvetica, sans-serif;
  color: #fbb341;
  font-style: normal;
  font-size: 1.5rem;
}

.requirements-info-content {
  color: white;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  line-height: 1rem;
}

.table-bordered th {
  border: #212226 1px solid !important;
}

.table-bordered td {
  border: #212226 1px solid !important;
}

/* top score section  */
.score {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      78.66% 177.87% at 19.56% 37.57%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("img/bg-5.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
}

.score-content {
  max-width: 100vw !important;
}

.score-left-side {
  color: white;
}

.score-right-side {
  margin-left: 2rem;
  margin-right: 2rem;
}

.score-content-title,
.score-content-info {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.score-content-title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.score-content-info {
  font-size: 1rem;
  line-height: 0.25rem;
}

.score-content-btn {
  margin-top: 1.5rem;
  background-color: #fbb341;
  border: none;
  width: 12rem;
  height: 3rem;
  font-weight: bold;
}

.score-content-btn:hover {
  background-color: #e0a800;
}

.card {
  background-color: #1d1e1e !important;
  width: 25rem !important;
}

#card-1:hover,
#card-2:hover,
#card-3:hover {
  box-shadow: 0.3rem 0rem #fbb341;
}

.card-costum:hover {
  border-image: 0.1rem 0.1rem #fbb341;
}

.card-title {
  color: #fbb341 !important;
}

.card-info-top {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.card-subtitle {
  color: #a6a6a6 !important;
}

.card-text {
  color: #a6a6a6 !important;
}

/* footer section  */
.footer {
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
}

.footer-content-left {
  text-align: center;
}

.footer-content-right {
  color: white;
}

/*      Media Query     */
@media (min-width: 992px) {
  html,
  body {
    overflow-x: visible;
  }

  .header {
    height: 100vh;
  }

  nav {
    height: 10vh;
  }

  .sysreq-table {
    margin-left: 20rem !important;
  }

  #card-1 {
    margin-left: 8rem !important;
  }

  #card-3 {
    margin-left: 5rem !important;
  }
}

@media (max-width: 991px) {
  html,
  body {
    max-width: 100vw !important;
  }

  html {
    font-size: 3vw;
  }

  .header {
    min-height: 100vh;
  }

  .header-title-info {
    width: 100%;
    font-family: "Bebas Neue";
    padding-top: 10%;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5625rem;
  }

  nav {
    max-height: 20%;
  }

  .header-info {
    max-height: 80%;
  }

  #logo,
  #home,
  #work,
  #contact,
  #about-me,
  #nav-right,
  #signup,
  #login {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }

  #navbarTogglerDemo02 {
    margin: 0;
  }

  #nav-right {
    flex-direction: row !important;
    text-align: center;
    justify-content: center;
  }

  .header-scroll-toggle {
    margin-top: 50%;
  }

  .header-info-col,
  .story-scroll-down {
    max-width: 100vw !important;
    padding: 0 !important;
    overflow: hidden;
  }

  .gallery-content {
    flex-direction: column;
    max-width: 100vw !important;
    margin-right: 0 !important;
  }

  .gl-left-side {
    max-width: 50vw !important;
    text-align: center !important;
  }

  .gl-right-side {
    width: 100% !important;
    height: 80vh !important;
  }

  .gallery-big-info {
    line-height: 3.5rem !important;
  }

  #slide-arrow-left {
    margin-left: -15vw;
  }

  #slide-arrow-right {
    margin-right: -15vw;
  }

  .features {
    max-height: 100vh !important;
    max-width: 100vw !important;
    padding-top: 1rem !important;
  }

  .features-contents {
    width: 50% !important;
  }

  .features-timeline {
    width: 60% !important;
  }

  .timeline {
    width: 30rem !important;
  }

  .tl-info {
    width: 45rem !important;
  }

  .tl-info-title {
    font-size: 1.5rem !important;
  }

  .tl-info-content {
    font-size: 1rem !important;
  }

  .features-info-title {
    max-width: 30rem !important;
  }

  .features-timeline-content {
    max-width: 100% !important;
  }

  .timeline-dot {
    margin-right: 0.75rem !important;
  }

  .timeline {
    width: 100% !important;
  }

  .sysreq-table {
    margin-left: 2rem !important;
    max-width: 90vw !important;
  }

  .table-content-sys {
    max-width: 70rem !important;
  }

  .rq-table-title {
    width: 90% !important;
    padding-left: 2rem !important;
  }

  .req-info-top {
    margin-bottom: 0 !important;
  }
}
